{{!-- Will go inside class=botList --}} 
{{#each bots}}
    {{!-- <li class="contact {{#if active}}active{{/if}}">
        <a onclick="onSelectBot({{json botId}})" >
            <div class="wrap">
                <span class="contact-status online"></span>
                <img src="./images/bot.png" alt=""/>
                <div class="meta">
                    <p class="name">{{name}}</p>
                </div>
            </div>
        </a>
        <ul class="testList list-unstyled" id="homeSubmenu">
            {{#each testCases}}
                <li>
                    <a onclick="onSelectTestCase({{json testCaseId}}, {{json ../botId}}, {{json url}})"
                        href="#">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    </li> --}}
    <div style="margin-bottom: 2px;">
        <button class="accordion {{#if active}}active1{{/if}}" onclick="onSelectBot({{json botId}})">
            <i class="fa fa-wechat fa-fw" aria-hidden="true"></i>
            {{name}}
        </button>
        <div class="panel1" style="display: {{#if active}}block{{else}}none{{/if}}">
            {{#each testCases}}
                <button class="accordion {{#if active}}active1{{/if}}"  onclick="onSelectTestCase({{json testCaseId}}, {{json ../botId}}, {{json url}})">
                    <i class="fa fa-file fa-fw" aria-hidden="true"></i>
                    {{name}}
                </button>
            {{/each}}
        </div>
    </div>
{{/each}}